.Hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burgerLayer {
    height: 15%;
    width: 100%;
}