.MeetupCardMobile, .MeetupCard {
    background-color: #FFF;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, .5);
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 2;
}

.MeetupCardMobile {
    height: 400px;
    margin-bottom: 15px;
}

.MeetupCard {
    height: 500px;
    margin-bottom: 25px;
    
}

.meetupInfoMobile, .meetupInfo {
    position: absolute;
    left: 0;
    z-index: 3;
    background-color: #FFF;
}

.meetupInfoMobile {
    bottom: 0;
    width: 100%;
    height: 100px;
}

.meetupInfo {
    top: 0;
    height: 100%;
    width: 200px;
}

